.app.dark {
  --bg-color: #3b3946;
  --inverted-bg-color: #e7ebed;
  --primary-color: #93c344;
  --secondary-color: #fff;
  --inverted-primary-color: #709004;
  --inverted-secondary-color: #363539;
}
