.app.light {
  --bg-color: #e7ebed;
  --inverted-bg-color: #3b3946;

  --primary-color: #82a70e;
  --secondary-color: #363539;
  --inverted-primary-color: #bae774;
  --inverted-secondary-color: #ffffff;
}
